<!DOCTYPE html>
<html>
<head>
  <title>Jim</title>
  <%= stylesheet_link_tag    "jim/application", media: "all" %>
  <%= javascript_include_tag "jim/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
