<%= list_item(environment) do %>
  <p>
    Environment variable '<%= environment.variable_name %>':

    <%= environment_value(environment) %>
  </p>

  <% if environment.example.present? %>
    <p>
      Example: <em><%= environment.example %></em>
    </p>
  <% end %>
<% end %>
